@import "./fonts.scss";
@import "_base.scss";
@import "_sizes.scss";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fafaff;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#root {
    height: 100%;
    --br-sonoma-bold: br-sonoma-bold;
    --br-sonoma-medium: br-sonoma-medium;
}

.layout-home {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - calc(5.6rem * var(--scale)));
    z-index: -1;
}
