.footer {
    z-index: 1;
    font-family: var(--br-sonoma-bold), sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(3.2rem * var(--scale)) calc(12rem * var(--scale));
    background-color: #03050f;

    &__logo {
        width: calc(7.3rem * var(--scale));
        height: calc(3.6rem * var(--scale));
        object-fit: contain;
    }

    &__text {
        font-size: calc(1.4rem * var(--scale));
        font-weight: 400;
        color: #fff;
    }
}
@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: calc(1.5rem * var(--scale)) calc(2.4rem * var(--scale));
        gap: calc(1.6rem * var(--scale));
        &__logo {
            height: calc(2rem * var(--scale));
            object-fit: contain;
        }
        &__text {
            font-size: calc(1rem * var(--scale));
            font-weight: 400;
            color: #fff;
        }
    }
}
