select,
textarea,
input {
    border-style: none;
    background: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }
}

.mt-6 {
    margin-top: 20px;
}

.mt-4 {
    margin-top: 16px;
}

.inputSelect {
    width: 100%;
    display: flex;

    &--select,
    &--input {
        font-size: calc(1.6rem * var(--scale));
        line-height: 24px;
        font-weight: 400;
        height: calc(5.6rem * var(--scale));
        color: #5e6488;
        font-family: var(--br-sonoma-medium), sans-serif;
    }

    &--select {
        position: relative;
        display: flex;
        align-items: center;
        width: fit-content;
        border: 1px solid #5e6488;
        background-color: white;
        border-right: 0;
        border-radius: 8px 0 0 8px;
        letter-spacing: 0.2px;
        gap: 11.8px;

        select {
            min-width: 140px;
            height: 100%;
            padding: 15px 40.28px 15px 16px;
            cursor: pointer;
            font-size: inherit;
            color: inherit;
            z-index: 1;
        }

        .i {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: 0;
            margin: auto;
            color: black;
        }
    }

    .input__login,
    input {
        border-radius: 0 8px 8px 0 !important;
    }
}

.input__login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    height: calc(5.6rem * var(--scale));

    input {
        width: 100%;
        height: calc(5.6rem * var(--scale));
        font-size: calc(1.6rem * var(--scale));
        line-height: 24px;
        padding: 20px 16px 4px;
        border-radius: 8px;
        color: #5e6488;
        font-family: var(--br-sonoma-medium);
        box-shadow: 0 0 0 1px inset #5e6488;
        background-color: transparent;
        transition: all 0.2s ease;

        &:focus {
            box-shadow: 0 0 0 2px inset #5e6488;
            background-color: white;

            + .before .paragraph {
                color: #5e6488;
            }
        }

        &:focus + .before .paragraph,
        &:not(:placeholder-shown) + .before .paragraph {
            top: 8px;
            font-size: calc(1.2rem * var(--scale));
            line-height: 16px;
            transform: translateY(0);
        }
    }

    .before {
        cursor: text;
    }

    .paragraph {
        position: absolute;
        top: 50%;
        left: 16px;
        font-size: calc(1.6rem * var(--scale));
        line-height: 24px;
        transform: translateY(-50%);
        font-weight: normal;
        color: #5e6488;
        transition: all 0.3s ease;
    }

    &.error {
        input {
            box-shadow: 0 0 0 1px inset red;

            &:focus {
                box-shadow: 0 0 0 2px inset red;
            }
        }
    }
}

.check__label {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

    input:checked + .check__label--box {
        background-color: black;
    }

    &--box {
        position: relative;
        width: calc(2rem * var(--scale));
        min-width: calc(2rem * var(--scale));
        height: calc(2rem * var(--scale));
        border-radius: 4px;
        box-shadow: 0 0 0 1px inset #5e6488;
        background-color: white;

        .i {
            position: absolute;
            inset: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &.error {
        .paragraph,
        .politics {
            color: red;
        }

        .check__label--box {
            box-shadow: 0 0 0 1px inset red;
        }
    }
}

.terms {
    display: inline-block;
    margin-top: calc(1rem * var(--scale));
    color: #03050f;
    font-size: calc(1.5rem * var(--scale));
}

.btnSubmit {
    display: inline-block;
    margin-top: calc(2rem * var(--scale));
    // padding: 20px 40px;
    padding: calc(2rem * var(--scale)) calc(4rem * var(--scale));
    border-radius: calc(4rem * var(--scale));
    font-size: calc(2rem * var(--scale));
    background-color: #03050f;
    color: white;
    font-family: var(--br-sonoma-bold);
    cursor: pointer;
    margin-top: 5px;
}

.errorLabel {
    color: red;
    font-size: calc(1.3rem * var(--scale));
    line-height: 16px;
    margin-top: 4px;
}

.iconCheck {
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.politics {
    font-size: calc(1.3rem * var(--scale));
    line-height: 16px;
    font-family: var(--br-sonoma-medium);
}

@media (max-width: 768px) {
    .btnSubmit {
        width: 100%;
    }
}
