.container__selector__plans {
    width: calc(28.8rem * var(--scale));
    height: calc(62rem * var(--scale));
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: calc(1rem * var(--scale));
    img {
        width: calc(4.8rem * var(--scale));
        height: calc(4.8rem * var(--scale));
    }
    &__label {
        font-size: calc(1.3rem * var(--scale));
        font-family: var(--br-sonoma-medium), sans-serif;
        color: gray;
    }
    &__plan {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: calc(1rem * var(--scale)) 0;
        padding: calc(0.2rem * var(--scale));
    }
    &__amount {
        font-size: calc(1.5rem * var(--scale));
        font-family: var(--br-sonoma-bold), sans-serif;
        &__before {
            color: gray;
            text-decoration: line-through;
            padding: 1px 0;
        }
    }
    &__descriptions {
        height: calc(38rem * var(--scale));
    }
    &__description {
        font-size: calc(1rem * var(--scale));
        margin-bottom: calc(1rem * var(--scale));
        font-family: var(--br-sonoma-medium), sans-serif;
        display: flex;
        flex-direction: column;
        gap: calc(2.5rem * var(--scale));
        text-align: left;
        padding: calc(3rem * var(--scale));
        li {
            font-size: calc(1.6rem * var(--scale));
        }
    }
}

.mt-6 {
    margin-top: calc(2.5rem * var(--scale));
}

.buttonSelectPlan {
    width: 100%;
    background-color: #ff1c44;
    color: white;
    border: none;
    padding: calc(1.5rem * var(--scale)) calc(3.2rem * var(--scale));
    border-radius: 20px;
    cursor: pointer;
}
.headerText {
    height: calc(12.5rem * var(--scale));
    padding: calc(1.5rem * var(--scale));
}
